[id^='pokemon'] {
    width: 90px;
    display: inline-block;
    text-align: center;
}
[id^='pokemon'] img {
    width: 90px;
    display: inline-block;
}
#wrapper div {
    display: inline-block;
}