<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Dogs</title>
</head>
<body>
    <a href="dog/1"><img src="../images/boxer.jpg" alt="Boxer"></a>
    <a href="dog/2"><img src="../images/Cavalier.jpg" alt="Cavelier King Charles Spaniel"></a>
    <a href="dog/3"><img src="../images/pembroke_welsh_corgi.jpg" alt="Pembroke Welsh Corgi"></a>
    <a href="dog/4"><img src="../images/pit-bull.jpg" alt="Pitt Bull"></a>
</body>
</html>