[id^='pokemon'] {
    width: 90px;
    display: inline-block;
    text-align: center;
}
[id^='pokemon'] img {
    width: 90px;
    display: inline-block;
}
#wrapper div {
    display: inline-block;
}
#pictures {
    width: 80%;
}
#information {
    width: 19%;
    vertical-align: top;
    text-align: left;
}
#information img, #information h2 {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}