<form action="Login" method="POST">
    E-Mail: <input type="text" name="email"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Submit">

</form>
<a href="Register"><button>Register!</button></a>