<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Ninja Facts!</h1>
    <ul>
        <li>Ninjas tell time like bosses</li>
        <li>Ninjas don’t get lost</li>
        <li>Ninjas rest on top of trees</li>
        <li>Ninjas are survivalists</li>
        <li>Ninjas carry crickets in their pocket</li>
        <li>Ninjas don’t fight dirty</li>
        <li>Ninjas take training seriously</li>
        <li>Ninjas carry cooler weapons than the shuriken</li>
        <li>Ninjas don’t make noise when they walk</li>
        <li>Ninjas use poison…a lot</li>
    </ul>
</body>
</html>