<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    body {
        background-color: {{ color }};
    }
    </style>
</head>
<body>
    <h1>Enter your color values below:</h1>
    <form action="/change" method="post">
        Red: <input type="text" name="red">
        Green: <input type="text" name="green">
        Blue: <input type="text" name="blue">
        <input type="submit" value="Show my color!">
    </form>
</body>
</html>