<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>

<br><br>
<img src="~/img/profile.jpg" alt="headshot" class="mx-auto d-block img-thumbnail"><h1 class="text-center">Deadpool</h1>
<h3 class="w-75 mx-auto">About Me:</h3>
<p class="w-75 mx-auto"> The foul-mouthed mercenary now known as Deadpool was once little more than medical waste, written off as a miscarriage of science and technology by the directors of the Canadian government's enigmatic Weapon X project. Were its name known outside certain highly specialized circles, the black-ops initiative would have boasted a distinguished -- if blood-spattered -- track record. Previously, it's technicians had spawned a number of noteworthy scions -- including the feral Wolverine, maverick mutant adventurer, and the savage Sabretooth, psychotic murder machine.</p>
<br>
<p class="w-75 mx-auto">And they had looked forward to an uninterrupted string of successes. Enter Wade Wilson. Diagnosed with cancer, the gun-for-hire left the woman he loved and accepted an unorthodox offer of salvation. Playing upon his hope for a cure, the Weapon X scientists attempted to recreate Wolverine's genetically endowed healing factor through artificial means. Although successful, the Byzantine procedure left Wilson's epidermis and face a horridly callused mess. Considered a failure, he was consigned to a prison laboratory for program rejects. Unable at first to accept his mangled appearance, Wilson slipped into the darkest pit of his soul. He killed several guards and escaped -- dubbing himself "Deadpool," after the facility. Some time later, he re-emerged as one of the world's foremost mercenaries-for-hire.</p>
<br>
<p class="w-75 mx-auto">After cementing his reputation as a solider of fortune and quasi-super hero, Deadpool signed on the dotted line for the terrorist known as Tolliver. His target: the time-tossed mutant freedom fighter called Cable. Deadpool learned that his former lover -- Vanessa Carlyle, the shapeshifter named Copycat -- was posing as Cable's girlfriend and teammate, the probability-altering Domino. Wilson launched repeated offensives against Cable and his mutant strike team, X-Force -- culminating with a battle in which Tolliver was killed and Vanessa seriously wounded. Deadpool showed mercy on his former flame, diverting a portion of his powers to heal her injuries.</p>
<br>
<p class="w-75 mx-auto">Escaping custody in a metal asylum, Deadpool gained the attention of the interdimensional firm of Landau, Luckman & Lake. LL&L believed Deadpool to be the Mithras, one who would usher in a new golden age for the inhabitants of Earth. But the prophecy was a sham: The being destined to bring this era to life actually would transform the planet's inhabitants into mindless, grinning boobs. Deadpool averted disaster, but internal politics within LL&L brought an end to their relationship. His optimism again shattered, Wilson returned to his status as a killer-for-hire.</p>
</body>
</html>