<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <ul class="nav nav-tabs nav-justified">
  <li class="nav-item">
    <a class="nav-link" href="/">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>

<br><br>
<div class="">
    <div class="card w-75 mx-auto pt-4">
        <div class="text-center">
            <img src="~/img/1.jpg" alt="comic" class="deadpool text-center">
            <h2>Deadpool, Volume 8: All Good Things…</h2>
        </div>
        <p class="card-body">It’s the end of the road for the Merc With a Mouth! And what better way to celebrate the series’ end than to kill Deadpool? Yup, you heard us! First, Deadpool takes a relaxing vacation to the Middle East, where a simple merc job leads to a violent battle with Omega Red and a journey into the Tomb of Scariness with Shiklah! Then, Ultimatum comes at Deadpool for revenge, and he has no choice but to take them on — all of them. Every single guy. And in one final flashback feast, we revisit the Infinity Gauntlet crossover! What would Deadpool do if he got the gauntlet from Thanos? Plus: a slew of bonus stories by special guest writers showcasing Deadpool’s closest friends and allies! Also, SPOILER: Deadpool dies at the end.</p>
    </div>
    <br>
    <div class="card w-75 mx-auto pt-4">
        <div class="text-center">
            <img src="~/img/2.jpg" alt="comic" class="deadpool text-center">
            <h2>Deadpool #26</h2>
        </div>
        <p class="card-body">It's February, so Love is in the air! So of course, we're guest-starring the one character no one can kiss! That's right: Rogue is stopping by for an adventure!</p>
    </div>
    <br>
    <div class="card w-75 mx-auto pt-4">
        <div class="text-center">
            <img src="~/img/3.jpg" alt="comic" class="deadpool text-center">
            <h2>Deadpool: Beginnings Omnibus</h2>
        </div>
        <p class="card-body">The Merc with a Mouth meets the Marvel Universe in this hardcover collecting every one of his appearances before his industry-changing ongoing series -and then some! Deadpool debuts as a thorn in Cable's side, but soon starts rubbing shoulders with heroes everywhere - from Wolverine to Nomad! Hanging with the Heroes for Hire, secreting himself in the Defenders for and battling the Avengers' Black Knight, he's a social animal! But there's still time for solo shenanigans in Deadpool's first two classic miniseries!</p>
    </div>
</div>
</body>
</html>