<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted</title>
</head>
<body>
    name: <%= info.name %> <br>
    Dojo Location: <%= info.location %> <br>
    Favorite Language: <%= info.language %> <br>
    comment: <%= info.comment %> <br>
    <a href="/"><button>Go Back</button></a>
</body>
</html>