<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://cdn.date-fns.org/v2.0.0-alpha0/date_fns.min.js"></script>
    <script src="script.js"></script>
    <title>Quotes</title>
</head>
<body>
    <% if(quotes){ %>
    <% for(var quote of quotes){ %>
        <div></div>
            "<%= quote.quote; %>"<br>
            <%= quote.name; %> on 
            <%= quote.createdAt.toString('YYYY MM DD'); %>
 
        </div>
    <% }} %>
</body>
</html>